<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="pt.up.fc.dcc.hyrax.jay">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission
            android:name="android.permission.PACKAGE_USAGE_STATS"
            tools:ignore="ProtectedPermissions"/>


    <application
            android:largeHeap="true">
        <service
                android:name="pt.up.fc.dcc.hyrax.jay.services.BrokerAndroidService"
                android:exported="true"
                android:permission="android.permission.INTERNET"/>
        <service
                android:name="pt.up.fc.dcc.hyrax.jay.services.WorkerAndroidService"
                android:exported="true"
                android:permission="android.permission.INTERNET"/>
        <service
                android:name="pt.up.fc.dcc.hyrax.jay.services.SchedulerAndroidService"
                android:exported="true"
                android:permission="android.permission.INTERNET"/>
        <service
                android:name="pt.up.fc.dcc.hyrax.jay.services.ProfilerAndroidService"
                android:exported="true"
                android:permission="android.permission.INTERNET"/>

        <receiver
                android:name="pt.up.fc.dcc.hyrax.jay.services.profiler.status.device.battery.AndroidBatteryMonitor$BatteryChargeStateUpdatesReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>
        <receiver
                android:name="pt.up.fc.dcc.hyrax.jay.services.profiler.status.device.battery.AndroidBatteryMonitor$BatteryLevelUpdatesReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BATTERY_CHANGED"/>
            </intent-filter>
        </receiver>


    </application>

</manifest>